*.iml
.gradle
local.properties
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
/Apk

# Built application files and Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn
 
# Compiled class files
*.class
 
# Log Files
*.log
 
# About IntelliJ
out
 
# BlueJ files
*.ctxt
 
# Mobile Tools for Java (J2ME)
.mtj.tmp/
 
# macOS
.DS_Store
 
# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

 
# File-based project format
*.iws
 
# mpeltonen/sbt-idea plugin
.idea_modules/
 

.DS_Store
confluencet
/dependencies/repo
/android.tests.dependencies
/dependencies/android.tests.dependencies
/dist
/local
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
out/
/tmp
kotlin-ide/
workspace.xml
*.versionsBackup
/idea/testData/debugger/tinyApp/classes*
/jps-plugin/testData/kannotator
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
/js/js.translator/testData/out-pir/
.gradle/
build/
!**/src/**/build
!**/test/**/build
*.iml
node_modules/
.rpt2_cache/
libraries/tools/kotlin-test-js-runner/lib/
local.properties
buildSrcTmp/
distTmp/
outTmp/
/test.output
/kotlin-native/dist
